header img {
    height: 100px;
}

#cards-display {
    max-height: 700px;
}

#cards-display img {
    width: 100%;
    height: 100%;
}

#class-select, #neutral-select {
    cursor: pointer;
}

.active {
    background-color: #17a2b8!important;
}

.inactive {
    background-color: grey;
}

#deck-class {
    height: 50px;
    overflow: hidden;
    position: relative;
}

#deck-class h3 {
    position: absolute;
    z-index: 2;
    padding-left: 10px;
}

#deck-image {
    height: 100%;
    width: calc(100% + 60px);
    padding: 0px;
    position: absolute;
    right: 0px;
    z-index: 1;
}