header img {
    height: 100px;
}

#cards-display {
    max-height: 700px;
}

#cards-display img {
    width: 100%;
    height: 100%;
}

#class-select, #neutral-select {
    cursor: pointer;
}

.active {
    background-color: #17a2b8!important;
}

.inactive {
    background-color: grey;
}

#deck-container {
    overflow: hidden;
}

#deck-class {
    height: 50px;
    overflow: hidden;
    position: relative;
}

#deck-class h3 {
    position: absolute;
    z-index: 2;
    padding-left: 10px;
}

#deck-image {
    height: 100%;
    width: calc(100% + 70px);
    padding: 0px;
    position: absolute;
    right: 0px;
    z-index: 1;
}

#dust-icon {
    background: url('https://bnetcmsus-a.akamaihd.net/cms/content_folder_media/SSD3S36X3Z5J1558042454791.png');
    width: 15px;
    height: 15px;
}

.deck-card {
    cursor: pointer;
}